<form action="/search-books" method="get">
  <div>
    <label for="search">Search:</label>
    <input type="text" id="search" name="search-term">
  </div>
	<div class="button">
  <button type="submit">Search</button>
</div>
</form>